* {
  margin: 0;
  padding: 0;
}
.main {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    /* overflow: hidden; */
}
.libraryHeading {
  width: 100%;
  
  text-align: center;
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cardarea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: minmax(200px,auto); 
  gap: 16px;
  overflow-y: auto;
  text-align: center;
  padding: 16px;
  align-self: flex-start;
}
.bookcard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  /* width: 300px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  
  
}
.bookcard h3 {
  margin: 0;
}

.image{
  height: 100px
}

.addbutton{
  position: fixed;
  bottom: 3%;
  right: 3%;
  
}
.button{
  border: none;
  cursor: pointer;
}

/* centering the popup */
  .popup {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;

    /* Centering styles */
    position: fixed; /* Overrides the default dialog behavior */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .inputdialog{
    display:flex;
    flex-direction: column;
    gap: 16px;
    min-width: 300px;
  }