body{background-color: grey;}
.boxes{
  min-height: 5px;
  min-width: 5px;
  border: 1px solid black;
  box-sizing: border-box; /* Prevents padding/border from affecting width */
  margin: 0;
  padding: 0;
  
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  max-height: 600px;
  border: 0.1px solid rgb(255, 104, 87);
  margin: auto;
  padding: 0;
}

.temt {
  text-align: center;
}

.boxes:hover{
  background-color: black;
}
.boxes.active {
  background-color: black; /* Permanent color after hover */
}