body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100vh;
}

.main {
  display: flex;
  height: 100%;
}

.left {
  position: relative;
  /* border: 1px solid white; */
  flex: 1;
  display: flex;
  align-items: center;
}
.leaf {
  width: 100%;
  height: 100%;
}

.odin-container {
  position: absolute;
  display: flex;
  height: 20%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid red; */
  background-color: rgba(64, 64, 64, 0.5);
}
.odin {
  height: 80%;
}
.odin-text {
  color: rgb(255, 251, 244);
  font-size: 2.5rem;
}

.right {
  flex: 2;
  border: 1px solid orange;
  color: white;
  display: flex;
  flex-direction: column;
}

.text {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  border: 1px solid pink;
flex: 1;
}

.form{flex: 1;}
.action{flex: 1;}